<div class="index-container">
  <header>
    <div class="title">
      <h3>Lista de Tarefas</h3>
    </div><!--title-->

    <div class="search">
      <form action="" (keyup)="findTasksSearch(search)">
        <input type="text" name="search" [(ngModel)]="search">
        <button type="button" (click)="findTasksSearch(search)">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </button>
      </form>
    </div><!--search-->

    <div class="config">
      <button type="button">
        <fa-icon [icon]="enginnerIcon"></fa-icon>
      </button>
    </div><!--config-->
  </header>

  <main>
    <div class="tasks" *ngFor="let task of tasks">
      <div class="task-single">
        <a [routerLink]="['/task/'+task.id]">
          <div class="title">
            <p>{{task.title}}</p>
          </div><!--title-->
        </a>

        <div class="actions">
          <button type="button" (click)="openModalDelete(task.id)">
            <fa-icon [icon]="actionsIcon"></fa-icon>
          </button>
        </div><!--actions-->

        <div class="modal-delete"  *ngIf="task.showDeleteModal">
          <button type="button" (click)="openSubModalDelete()" *ngIf="btn_delete_task">
            <fa-icon [icon]="deleteTaskIcon"></fa-icon>
            Deletar Tarefa
          </button>

          <div class="sub-modal-delete" *ngIf="sub_modal_delete">
            <p>Deseja realmente excluir a tarefa {{task.id}}?</p>

            <div class="buttons">
              <button type="button" (click)="deleteTask(task.id)">Excluir</button>
              <button type="button" (click)="cancelSubModalDelete(task.id)">Cancelar</button>
            </div><!--buttons-->
          </div><!--sub-modal-delete-->
        </div><!--modal-delete-->
      </div><!--task-single-->
    </div><!--tasks-->
  </main>

  <footer>
    <app-configurations></app-configurations>
  </footer>
</div><!--index-container-->
