div.index-container{
  overflow-y: auto;
}

main{
  padding-top: 80px;

  div.tasks{
    div.task-single{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px 0px 10px;
      border-bottom: 2px solid rgb(12,14,90);

      a{
        text-decoration: none;
        color: #000;

        div.title{
          width: 90vw;
          max-width: 95%;
          padding: 30px 0;
        }
      }
    }

    &:first-child{
      border-top: 2px solid rgb(12,14,90);
    }

    div.actions{
      button{
        border: 0;
        background-color: transparent;

        fa-icon{
          font-size: 24px;
          cursor: pointer;
        }
      }
    }

    div.modal-delete{
      position: absolute;
      right: 60px;

      button{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(0,0,0,0.1);
        color: #ff0000;
        padding: 5px;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        font-size: 17px;

        &:active{
          position: relative;
          top: 1px;
        }

        fa-icon{
          margin-right: 5px;
          font-size: 17px;
          color: #ff0000;
        }
      }

      div.sub-modal-delete{
        margin: 0 auto;
        width: 300px;
        height: 80px;
        background-color: rgba(0,0,0,0.7);
        color: #fff;

        p{
          text-align: center;
          padding-top: 4px;
        }

        div.buttons{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          padding: 20px 20px 0px 20px;

          button{
            color: #fff;
            letter-spacing: 0.5px;

            &:nth-child(1){
              background-color: #ff0000;
            }

            &:nth-child(2){
              background-color: #bba6a6;
            }
          }
        }
      }
    }
  }
}

footer{
  display: none;
}
