header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  div.title{
    h3{
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }

  div.search{
    margin: 0 auto;
    position: relative;

    form{
      input{
        padding: 8px 45px 8px 15px;
        width: 250px;
        border: 1px solid #000;
        outline: 0;
        border-radius: 30px;
      }

      button[type=submit]{
        position: absolute;
        top: 1px;
        right: 1px;
        border-top-right-radius: 30px;
        border-bottom-right-radius:30px;
        padding: 4px;
        width: 40px;
        border: 0;
        background-color: #ccc;
        cursor: pointer;

        fa-icon{
          color: #fff;
          padding-right: 5px;
          font-size: 19px;
          position: relative;
          top: 1px;

          &:active{
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }

  div.config{
    button{
      /*alterar depois para extends*/
      border: 0;
      background-color: transparent;

      fa-icon{
        font-size: 21px;
        color: #333;
        cursor: pointer;

        &:active{
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

main{
  padding-top: 80px;

  div.tasks{
    div.task-single{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
      border-bottom: 2px solid rgb(12,14,90);

      a{
        text-decoration: none;
        color: #000;

        div.title{
          width: 90vw;
          max-width: 95%;
          padding: 30px 0;
        }
      }
    }

    &:first-child{
      border-top: 2px solid rgb(12,14,90);
    }
  }
}

footer{
  position: absolute;
  right: 80px;
  bottom: 80px;
}
