<div class="index-container">
  <header>
    <div class="title">
      <h3>Lista de Tarefas</h3>
    </div><!--title-->

    <div class="search">
      <form action="" (submit)="findTasksBySearch(search)">
        <input type="text" name="search" [(ngModel)]="search">
        <button type="submit">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </button>
      </form>
    </div><!--search-->
  </header>

  <main>
    <div class="tasks" *ngFor="let task of tasks">
      <div class="task-single">
        <a [routerLink]="['/task/'+task.id]" (click)="onAnchorClick($event)">
          <div class="title">
            <p>{{task.title}}</p>
          </div><!--title-->
        </a>

          <div class="actions">
            <button type="button" (click)="onButtonClick($event)">
              <fa-icon [icon]="actionsIcon"></fa-icon>
            </button>
          </div><!--actions-->
      </div><!--task-single-->
    </div><!--tasks-->
  </main>

  <footer>
    <app-configurations></app-configurations>
  </footer>
</div><!--index-container-->
