@media screen and (width < 600px) {
  footer{
    display: flex;
    position: fixed;
    right: 80px;
    bottom: 80px;
  }
}

@media screen and (width < 480px) {
  main{
    padding-top: 40px;

    div.sub-modal-delete{
      position: absolute;
      right: -60px;
      bottom: -39px;
    }
  }
}
