#myTextarea {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-family: monospace;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 100px;
  overflow: auto;

  .line {
    border-bottom: 1px solid white; /* Adiciona uma borda inferior branca */
    padding-bottom: 5px; /* Espaçamento entre as linhas */
  }

  .first-line {
    padding-top: 5px; /* Adiciona preenchimento superior apenas para a primeira linha */
  }
}
