<div class="configurations-container" id="container">
  <header>
    <div class="back-page">
      <button type="button" onclick="return history.back(-1)">
        <fa-icon [icon]="backPage"></fa-icon>
      </button>
    </div><!--back-page-->
  </header>

  <main>
    <section class="perfil">
      <div class="perfil-wraper">
        <p>{{username_first_letter}}</p>
      </div><!--perfil-wraper-->

      <div class="profile-box">
        <div class="username">
          <p>{{username}}</p>
        </div><!--username-->

        <div class="email">
          <p>{{email}}</p>
        </div><!--email-->
      </div><!--profile-box-->
    </section><!--perfil-->

    <section class="add-task">
      <button type="button">
        <a [routerLink]="['/criar-tarefa']">Adicionar Tarefa</a>
      </button>
    </section><!--add-ask-->

    <section class="update-user">
      <button type="button" (click)="openModalUpdateUser()">Alterar Usuário</button>

      <div class="modal-update-user" *ngIf="modalUpdateUser" id="modal-update-user">
        <button type="button" (click)="closeModalUpdateUser()">Fechar Modal</button>

        <div class="update-user-form">
          <h2>Alterar Usuário</h2>

          <form action="" (submit)="updateUser()">
            <div class="camp">
              <label id="usernameLabel">Nome de Usuário</label>

              <input type="text" id="usernameText" name="newUsername" [(ngModel)]="newUsername" (input)="verifySizeUsername($event)" #usernameInput>
            </div><!--camp-->

            <div class="camp">
              <label id="emailLabel">Email</label>

              <input type="email" id="emailText" name="newEmail" [(ngModel)]="newEmail" (input)="verifySizeEmail($event)" #emailInput>
            </div><!--camp-->

            <button type="submit">Alterar</button>
          </form>
        </div><!--update-user-form-->

      </div><!--modal-update-user-->
    </section><!--update-user-->

    <section class="update-password">
      <button type="button" (click)="openModalUpdatePassword()">Alterar Senha</button>

      <div class="modal-update-password" *ngIf="modalUpdatePassword">
        <button type="button" (click)="closeModalUpdatePassword()">Fechar Modal</button>

        <div class="update-password-form">
          <h2>Alterar Senha</h2>

          <form action="" (submit)="updatePassword()">
            <div class="camp">
              <label id="newPasswordLabel">Nova Senha</label>

              <input type="text" name="newPassword" [(ngModel)]="newPassword" (input)="verifySizeNewPassword($event)">

              <fa-icon></fa-icon>
            </div><!--camp-->

            <div class="camp">
              <label id="confirmNewPasswordLabel">Confirmar Nova Senha</label>

              <input type="text" name="newConfirmPassword" [(ngModel)]="newConfirmPassword" (input)="verifySizeConfirmNewPassword($event)">

              <fa-icon></fa-icon>
            </div><!--camp-->

            <button type="submit">Alterar</button>
          </form>
        </div><!--update-password-form-->

      </div><!--modal-update-password-->
    </section><!--update-password-->

    <section class="remove-user">
      <button type="button" (click)="openModalRemoveUser()">Remover Usuário</button>

      <div class="modal-remove-user" *ngIf="modalRemoveUser">
        <button type="button" (click)="closeModalRemoveUser()">Fechar Modal</button>

        <div class="remove-user-form">
          <h2>Excluir o usuário permanentemente?</h2>

          <form action="" (submit)="removeUser()">
            <button type="submit">Excluir</button>
          </form>
        </div><!--remove-user-form-->

      </div><!--modal-remove-user-->
    </section><!--remove-user-->
  </main>
</div><!--configurations-container-->
