$margin20: 20px;
$colorTransparent: transparent;
$colorGray: #ccc;
$colorWhite: #ffffff;
$colorRed: #ff0000;
$colorBlack85: rgba(0,0,0,0.85);
$colorBlack100: #000000;
$colorGreenBlue200: rgb(0,200,200);
$colorGreenBlue220: rgb(0,220,220);

.section-default{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: $colorBlack85;
  color: $colorWhite;

  > button{
    padding: 10px;
    border-radius: 10px;
    background-color: $colorRed;
    color: $colorWhite;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    top: 10px;
    left: 10px;

    &:hover{
      background-color: $colorRed;
    }

    &:active{
      position: relative;
      top: 12px;
    }
  }
}


.div-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  max-width: 95%;

  h2{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
  }

  form{
    margin-top: 50px;

    div.camp{
      margin-bottom: 40px;

      &:last-child{
        margin-bottom: 0;
      }

      label{
        position: relative;
        top: 25px;
        font-size: 18px;
        transition: top 0.3s ease;
      }

      input{
        padding: 10px 15px;
        width: 100%;
        outline: 0;
        border-bottom: 1px solid $colorWhite;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: $colorTransparent;
        color: $colorWhite;

        &:focus{
          border-bottom: 1px solid $colorGreenBlue200;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
          top: 0;
        }
      }

      &:focus-within label {
        top: 0;
      }
    }

    button[type=submit]{
      padding: 10px;
      border-radius: 30px;
      background-color: $colorGreenBlue200;
      color: #ffffff;
      margin-top: 30px;
      border: 0;
      font-size: 18px;
      width: 150px;
      cursor: pointer;
      letter-spacing: 1px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      &:hover{
        background-color: $colorGreenBlue220;
      }

      &:active{
        position: relative;
        top: 2px;
      }
    }
  }
}

header{
  padding: 20px;

  div.back-page{
    button{
      border: 0;
      background-color: $colorTransparent;

      fa-icon{
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
}

main{
  section.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    div.perfil-wraper{
      position: relative;
      border-radius: 50%;
      background-color: $colorGray;
      width: 200px;
      height: 200px;

      p{
        position: absolute;
        top: 55px;
        left: 75px;
        font-size: 70px;
        color: $colorWhite;

      }
    }

    div.profile-box{
      div{
        margin-bottom: $margin20;

        &:last-child{
          margin-bottom: 0px;
        }
      }
    }
  }

  section{
    margin-bottom: $margin20;

    &:last-child{

      > button{
        &:hover{
          background-color: $colorRed;
        }
      }

    }

    > button{
      border: 0;
      border-radius: 5px;
      font-size: 18px;
      padding: 10px;
      width: 200px;
      margin-left: $margin20;
      text-align: left;
      cursor: pointer;
      background-color: $colorTransparent;
      transition: 0.2s;

      &:hover{
        background-color: $colorGray;
        color: $colorWhite;
      }
    }
  }

  section.add-task{
    margin-top: 80px;

    button{
      a{
        text-decoration: none;
        color: $colorBlack100;
      }

      &:hover a{
        color: $colorWhite;
      }
    }
  }

  section.update-user{
    /*filter blur na main blur(5px) com js*/
    div.modal-update-user{
      @extend .section-default;

      div.update-user-form{
        @extend .div-form
      }
    }
  }

  section.update-password{
    div.modal-update-password{
      @extend .section-default;

      div.update-password-form{
        @extend .div-form;
      }
    }
  }

  section.remove-user{
    div.modal-remove-user{
      @extend .section-default;

      div.remove-user-form{
        @extend .div-form;
      }
    }
  }
}
