<div class="configurations-container">
  <div class="modal-options" *ngIf="options">
    <ul>
      <li>
        <a [routerLink]="['/index']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/criar-tarefa']">Adicionar Tarefa</a>
      </li>
      <li>
        <a [routerLink]="['/configuracoes']">Configurações</a>
      </li>
    </ul>

  </div><!--modal-options-->

  <div class="option">
    <button type="button" (click)="viewOptions()">
      <fa-icon [icon]="changeOptionsLayout"></fa-icon>
    </button>
  </div><!--option-->
</div><!--configurations-container-->
