@media screen and (width < 600px) {
  div.header-container{
    padding: 20px 10px;
  }

  div.search{
    margin: 0;
  }

  div.config{
    display: none;
  }
}

@media screen and (width < 520px) {
  div.header-container{
    display: flex;
    flex-direction: column;
  }

  div.search{
    margin-top: 20px;
  }
}
